.header {
  position: relative;
  margin-top: 90px;

  display: flex;
  flex-wrap: wrap;
}

.header__snap {
  position: relative;
  width: 33px;
  height: 22px;

  display: none;
  justify-content: center;
  align-items: center;

  border: none;

  background: transparent;

  cursor: pointer;

  outline: none;

  &::before {
    content: '';
    position: absolute;
  }
  &::after {
    content: '';
    position: absolute;
  }
}

.header__snap--open {
  margin-left: auto;
}

.header__snap--open::before {
  top: 0px;
  left: 0px;

  width: 33px;
  height: 4px;

  background-color: black;

  box-shadow: black 0px 8px,  black 0px 16px;
}

.header__snap--close {
  &::before {
    width: 27px;
    height: 4px;

    background-color: rgba(130, 130, 130, 1);

    transform: rotate(45deg);
  }
  &::after {
    width: 27px;
    height: 4px;

    background-color: rgba(130, 130, 130, 1);

    transform: rotate(-45deg);
  }
}

.hidden-menu {
  display: flex;
}

.header__snap--open:not(.hidden-menu) ~ .header__snap--close {
  display: flex;
  margin-left: auto;
}

.hidden-menu ~ .main-nav {
  display: none;
}

.main-nav {
  margin-bottom: 300px;
}

.main-nav__item {
  &:not(:last-child) {
    margin-bottom: 65px;
  }
  font-family: 'Gilroy-bold';
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;

  color:rgba(130, 130, 130, 1);
}

.main-nav__item--active {
  color: rgba(9, 9, 9, 1);

}

.locale-list {
  position: absolute;
  bottom: 55px;
  right: 62px; // font-size(34) + padding-right(28) header
  width: auto;
  display: flex;
  
  transform-origin: bottom right;
  transform: rotate(90deg);
}

.locale-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }

  font-family: 'Gilroy-bold';
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  
  &--active {
    color: #090909;
  }
}

.locale-item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -15px;

  width: 5px;
  height: 30px;

  background-color: #090909;
}

@media (min-width: 996px) {
  .header__snap {
    display: none;
  }

  .header .main-nav { // Для повышения специфичности добавлен .header
    width: 100%;
    margin-bottom: 135px;

    display: flex;
  }

  .main-nav__list {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #828282;
  }

  .main-nav__item {
    margin-bottom: 32px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .locale-list {
    bottom: 70px;
    right: 30px;

    transform: rotate(-90deg);  
  }

  .locale-item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    font-size: 16px;
    line-height: 20px;
  }

  .locale-item:not(:first-child)::before {
    left: -5px;
  
    width: 2px;
    height: 15px;
  }
}