.section-profile {
  margin-bottom: 83px;
}

.section-profile__title {
  margin-bottom: 23px;
  width: 70%;

  font-size: 47px;
  text-align: left;
  line-height: 58px;
}

.section-profile__wrapper {
  width: 70%;
  margin-bottom: 37px;
}