.section-profile {
  margin-bottom: 83px;
}

.section-profile__title {
  margin-bottom: 23px;
  width: 70%;

  font-size: 47px;
  text-align: left;
  line-height: 58px;
}

.section-profile__wrapper {
  width: 70%;
  margin-bottom: 37px;
}

@media (min-width: 996px) {
  .section-profile {
    margin-bottom: 104px;

    display: flex;
    flex-wrap: wrap;

    align-items: flex-end;
  }

  .section-profile__title {
    margin-bottom: 23px;
    width: 50px;

  
    font-size: 47px;
    text-align: left;
    line-height: 58px;
  }

  .section-profile__wrapper {
    width: auto;
    margin-bottom: 37px;

    flex-grow: 2;
  }
}