<%= _.template(require('./../includes/header.html'))() %>

<main class="main">
  <section class="section-profile content">
    <h1 class="section-profile__title section-title">Denis Novik</h1>
    <div class="section-profile__wrapper">
      <p class="section-profile__description section-description">UX | UI designer</p>
      <p class="section-profile__description section-description">24 years old, Minsk</p>
    </div>
    <picture>
      <source srcset="./img/profile.png" media="(min-width: 996px)" >
      <img src='./img/profile-mob.png' alt="photo" />
    </picture>
    
  </section>

  <section class="section-about">
    <div class="section__wrapper content">
      <h2 class="section-about__title section-title">
        About me
      </h2>
      <p class="section-about__description section-description">Hi, I'm Denis – UX/UI designer from Minsk. I'm interested in design and everything connected with it</p>
      <p class="section-about__description section-description">I'm studying at courses "Web and mobile design interfaces" in IT-Academy.</p>
      <p class="section-about__description section-description">Ready to implement excellent projects with wonderful people.</p>
    </div>
  </section>

  <section class="section-skills content">
    <h2 class="section-skills__title section-title">Skills</h2>
    <p class="section-skills__description section-description">I work in such programs as</p>
    <ul class="section-skills__list list">

      <li class="section-skills__item">
       <figure class="section-skills__figure">
        <img class="section-skills__img" src="./img/photoshop.png" />
        <figcaption class="section-skills__figcaption">Adobe Photoshop</figcaption>
       </figure>
       <div class="section-skills__stars">
         <svg class="section-skills__svg">
           <use xlink:href="#full-star" />
           <use x='30px' xlink:href="#full-star" />
           <use x='60px' xlink:href="#full-star" />
           <use x='90px' xlink:href="#full-star" />
           <use x='120px' xlink:href="#empty-star" />
         </svg>
       </div>
      </li>

       <li class="section-skills__item">
        <figure class="section-skills__figure">
         <img class="section-skills__img" src="./img/ai.png" />
         <figcaption class="section-skills__figcaption">Adobe Illustrator</figcaption>
        </figure>
        <div class="section-skills__stars">
          <svg class="section-skills__svg">
            <use xlink:href="#full-star" />
            <use x='30px' xlink:href="#full-star" />
            <use x='60px' xlink:href="#full-star" />
            <use x='90px' xlink:href="#empty-star" />
            <use x='120px' xlink:href="#empty-star" />
          </svg>
        </div>
       </li>

       <li class="section-skills__item">
        <figure class="section-skills__figure">
         <img class="section-skills__img" src="./img/ae.png" />
         <figcaption class="section-skills__figcaption">Adobe After Effects</figcaption>
        </figure>
        <div class="section-skills__stars">
          <svg class="section-skills__svg">
            <use xlink:href="#full-star" />
            <use x='30px' xlink:href="#full-star" />
            <use x='60px' xlink:href="#full-star" />
            <use x='90px' xlink:href="#full-star" />
            <use x='120px' xlink:href="#empty-star" />
          </svg>
        </div>
       </li>

       <li class="section-skills__item">
        <figure class="section-skills__figure">
         <img class="section-skills__img" src="./img/figma.png" />
         <figcaption class="section-skills__figcaption">Figma</figcaption>
        </figure>
        <div class="section-skills__stars">
          <svg class="section-skills__svg">
            <use xlink:href="#full-star" />
            <use x='30px' xlink:href="#full-star" />
            <use x='60px' xlink:href="#full-star" />
            <use x='90px' xlink:href="#full-star" />
            <use x='120px' xlink:href="#empty-star" />
          </svg>
        </div>
       </li>

    </ul>
  </section>

  <section class="section-portfolio">
    <div class="wrapper-section content">
      <h2 class="section-portfolio__title section-title">Portfolio</h2>
      <ul class="section-portfolio__list list">
        <li class="section-portfolio__item">
          <figure class="section-portfolio__figure">
            <picture class="section-portfolio__img">
              <source srcset="./img/fashion.png" media="(min-width: 996px)">
                <img src="./img/fashion-mob.png" alt="portfolio" />
            </picture>
            <figcaption class="section-portfolio__figcaption">
              <a href="#">Online fashion store - Homepage</a>
            </figcaption>
          </figure>
        </li>

        <li class="section-portfolio__item">
          <figure class="section-portfolio__figure">
            <picture class="section-portfolio__img">
              <source srcset="./img/reebok.png" media="(min-width: 996px)">
                <img src="./img/reebok-mob.png" alt="portfolio" />
            </picture>
            <figcaption class="section-portfolio__figcaption">
              <a href="#">Reebok Store - Concept</a>
            </figcaption>
          </figure>
        </li>

        <li class="section-portfolio__item">
          <figure class="section-portfolio__figure">
            <picture class="section-portfolio__img">
              <source srcset="./img/braun.png" media="(min-width: 996px)">
                <img src="./img/braun-mob.png" alt="portfolio" />
            </picture>
            <figcaption class="section-portfolio__figcaption">
              <a href="#">Braun Landing Page - Concept</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-contacts content">
    <h2 class="section-contacts__title section-title">Contacts</h2>
    <p class="section-contacts__description section-description">
      Want to know more or just chat? You are welcome!
    </p>
    <a href="#" class="section-contacts__button btn">Send message</a>
  </section>
</main>


<%= _.template(require('./../includes/footer.html'))() %>